.navbar{
    background-color:white;
}

.top-section { 
    height: 100vh;
    width: 100vw;
    background-image: url(https://makeshop-multi-images.akamaized.net/gmosp3340/itemimages/000000000153_xaZ3M3W.jpg);
    background-size: cover;
}


.top-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.top-content h1 {
    /* display: inline; */
    font-size: 10em;
    font-weight: bold;
    font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
    color: rgb(255, 0, 0);
    text-align: center;
}

.content-section { 
    background-color: #b8ca13;
}

.content-section .container { 
    padding: 1rem;
}

.my-footer{
    height: 20vh;
    background-color: white;
}

.my-footer .container { 
    padding: 1rem;
}

.footer-row{
    height: 100%;
}

.privacy-policy-link{
    color: #3cbf49;
}
.container h5 {
    /* display inline; */
    font-size: 4em;
    font-weight: bold;
    font-family:"comic sans"

}